*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 10px;

}
#container-float{
    width: 40%;
    border: 1px solid black;
    float: left;
    box-sizing: border-box;
}
#info-float img{
    border: 2px solid black;
    width: 50%;
    float: left;
}
#info-float p{
    width: 50%;
    float: right;
    font-size: 20px;
    font-family: Arial, sans-serif;
}
#main-float p{
    border: 1px solid black;
    padding: 5px;
    font-size: 14px;
    font-family: Arial, sans-serif;
    float: left;
}
#main-float img{
    border: 2px solid black;
    width: 100%;
    float: left;
}

#container-flex{
    position: absolute;
    left: 50%;
    flex-wrap: wrap;
    width: 40%;
    border: 1px solid black;
    display: flex;
}
#info-flex img{
    position: absolute;
    border: 2px solid black;
    width: 50%;
}
#info-flex p{
    width: 50%;
    font-size: 20px;
    font-family: Arial, sans-serif;
    margin-left: 50%;
    margin-bottom: 16%;
}
#main-flex p{
    border: 1px solid black;
    padding: 5px;
    font-size: 14px;
    font-family: Arial, sans-serif;
}
#main-flex img{
    border: 2px solid black;
    width: 100%;
}

